#baner{
    background-color:rgb(105, 88, 89);
    font font-size: 150%;
    text-align: center;
    height:80px;

}
#panellewy{
    background-color: rgb(145, 127, 112);
    width:30%;
    height: 600px;
    float: left;

}
#panelsrodkowy{
    background-color: rgb(184, 168, 169);
    width:50%;
    height:600px;
        float: left;
}
#panelprawy{
    background-color: rgb(145, 127, 112);
    width:20%;
    height:600px;
        float: left;
}
h2{
    color:white;
}
html, body{
    margin:0px;
    padding:0px;
}
table, th, td {
   border: 1px solid black;
}
img{
    float:right;
}
