body,html
{
    margin:0;
    background-color: #f4a3a3;
    overflow:visible;
    display:
    height:100%;
}

ul
{

    font-size: 150%;
    width:100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: antiquewhite;
}

li
{
     display: inline;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
li:hover
{
    opacity: 0.3;
    background-color: aquamarine;
}
header
{
    text-align: center;
    background-color: #5e24cb;
    display:flex;
}

nav
{

}

a
{
    text-decoration: none;
    color:black;
}
aside
{
    width: 30%;
    background-color: darksalmon;
    float:left;
    height: 75%;
    display:fixed;
}

article
{
    width:70%;
    background-color: lightgoldenrodyellow;
    float:left;
    height: 75%;
    display:flex;
}


footer
{
    width:100%;
    height:10%;
    background-color: blanchedalmond;

}
